//- index.jade
doctype html
html.no-js(lang="")
  head
    include ../includes/common/_head.jade

  body
    include ../includes/common/_ie_conditional.jade

    block content

    include ../includes/common/_scripts.jade
