// Colors
$bg-color: #ffffff;
$brand-primary-color: #0089c4;
$brand-secondary-color: #72b5cc;
$brand-tertiary-color: #003678;
$brand-cta-color: #286090;
$brand-white-color: #ffffff;
$error-color: #a94442;
$success-color: #41B733;
$disabled-color: #CCC;

// Screen sizes
$mobile-limit: 768px;

// Others
$fb-tab-width: 810px;

$images-path: "../assets/images/";